@import url('https://fonts.googleapis.com/css?family=Oxanium|Roboto&display=swap');

html, body{
    margin: 0px;
    padding: 0px;
    
    color: #202121;
    background-color: #f4f7f6;

    font-family: 'Roboto', sans-serif;
}

/* #region Header */

.home-header{
    background-color: #000;
    width: 100%;
    height: 48px;
}

.header{
    margin: auto;
    padding-top: 5px;

    width: fit-content;
    color: #ccc;
}

/* #endregion */

/* #region Navbar */

nav{
    width: 100%;
    border: 2px solid #E6EAEA;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    color: black;
    padding: 18px 23px;
    text-decoration: none;
    
    border-right: 2px solid #E6EAEA;
  }
  
  /* change bottom border on hover and when active */
  li a:hover {
      border-bottom: orange solid 2px;
  }

  li .active {
    border-bottom: orange solid 2px;
}

/* #endregion */

/* #region Main Container */

.maincontainer{
  width: 90%;
  height: auto;
  margin: 2vw 5%;
}

.heading{
  margin: auto;
  background-color: black;
  color: #E6EAEA;
  
  max-width: fit-content;
  padding: 5px 15px;
}

p{
  padding-left: 20px;
}

h2{
  background-color: black;
  color: #E6EAEA;

  width: fit-content;
  padding: 5px 15px;
}

.imgs{border: 3px solid black;margin: 0 10%; width: 35vw;}

.list{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.last{
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 20px;
}

/* #endregion */

/* #region Dropdown Headers */

.drop-header{
  font-weight: bold;
  font-size: medium;
  background-color: #f4f7f6;

  padding: 10px;
  border: 1px solid #000;

  width: 100%;
  margin-top: 10px;
}

.drop-header:hover{
  text-decoration: underline;
  background-color: white;
}

.dropdown-content{
  display: none;
}

/* JavaScript use */
.show {display:block;}

/* #endregion */